# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cyber security, vulnerability, data breach, malware, phishing, ransomware, firewall, encryption, intrusion detection, penetration testing, security audit, zero-day exploit, network security, access control, threat intelligence, incident response, security patch, social engineering, cyber attack, information security

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/juancito-Q.md).
