# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, breach, firewall, encryption, phishing, penetration testing, incident response, data leakage, authentication, access control, network security, zero-day, patch management, risk assessment, security audit, intrusion detection

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/brgltd-Q.md).
