# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cyber security, vulnerability, exploit, malware, threat, attack vector, penetration testing, data breach, zero-day, patch management, firewall, intrusion detection, encryption, authentication, access control, security policy, incident response, risk assessment, network security, phishing

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/lukris02-Q.md).
