# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, phishing, ransomware, firewall, intrusion detection, data breach, encryption, penetration testing, security patch, authentication, access control, network security, threat intelligence, incident response, vulnerability assessment, zero-day, security policy

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/slvDev-Q.md).
