# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, ransomware, phishing, firewall, encryption, data breach, penetration testing, network security, incident response, security patch, zero-day, authentication, access control, risk assessment, security audit, cyber hygiene

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/0xfuje-Q.md).
