# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, phishing, ransomware, firewall, encryption, penetration testing, data breach, incident response, security patch, network security, authentication, access control, zero-day, social engineering, security audit, risk assessment

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/nadin-Q.md).
