# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, phishing, ransomware, firewall, encryption, penetration testing, threat detection, incident response, data breach, network security, zero-day, authentication, access control, security patch, risk assessment, social engineering, cyber hygiene

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/zaskoh-Q.md).
