# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, threat, attack vector, penetration testing, data breach, security patch, firewall, intrusion detection, encryption, authentication, access control, network security, incident response, risk assessment, vulnerability scanning, zero-day, social engineering

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/Aymen0909-Q.md).
