# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cyber security, vulnerability, exploit, threat, malware, ransomware, phishing, data breach, penetration testing, firewall, intrusion detection, security patch, encryption, authentication, access control, network security, incident response, vulnerability assessment, risk management, zero-day exploit

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/tnevler-Q.md).
