# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, data breach, penetration testing, firewall, intrusion detection, encryption, authentication, access control, patch management, network security, incident response, risk assessment, vulnerability scanning, zero-day, social engineering, security policy

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/Udsen-Q.md).
