# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, ransomware, phishing, firewall, encryption, penetration testing, data breach, security patch, zero-day, intrusion detection, network security, access control, authentication, risk assessment, incident response, security audit

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/sakshamguruji-Q.md).
