# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cyber security, vulnerability, exploit, malware, phishing, ransomware, data breach, firewall, encryption, penetration testing, intrusion detection, zero-day, patch management, threat intelligence, security audit, network security, access control, incident response, risk assessment, cyber hygiene

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/peanuts-Q.md).
