# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, ransomware, phishing, firewall, encryption, penetration testing, data breach, threat intelligence, incident response, network security, access control, authentication, patch management, security audit, vulnerability assessment, zero-day, social engineering

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/bin2chen-Q.md).
