# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, threat, data breach, penetration testing, firewall, encryption, phishing, ransomware, zero-day, patch management, incident response, network security, authentication, access control, security audit, risk assessment, cyber hygiene

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/0xAgro-Q.md).
