# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, phishing, ransomware, firewall, encryption, penetration testing, data breach, network security, incident response, threat intelligence, zero-day, authentication, access control, security patch, vulnerability assessment, risk management, social engineering

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/LethL-Q.md).
