# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, phishing, firewall, encryption, authentication, breach, data leakage, penetration testing, incident response, threat intelligence, zero-day, patch management, network security, risk assessment, security policy, malicious software, social engineering

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/Yukti_Chinta-Q.md).
