# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, data breach, penetration testing, firewall, encryption, authentication, phishing, ransomware, network security, incident response, vulnerability assessment, patch management, zero-day, social engineering, security policy, intrusion detection

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/Bason-Q.md).
