# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cyber security, vulnerability, exploit, threat, malware, data breach, penetration testing, firewall, encryption, phishing, incident response, network security, patch management, risk assessment, vulnerability scanning, zero-day exploit, authentication, access control, security policy, cyber hygiene

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/ast3ros-Q.md).
