# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cyber security, vulnerability, exploit, threat, malware, data breach, penetration testing, firewall, encryption, authentication, phishing, zero-day, patch management, intrusion detection, security audit, risk assessment, network security, incident response, vulnerability assessment, cyber hygiene

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/cryptostellar5-Q.md).
