# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, phishing, ransomware, data breach, firewall, encryption, penetration testing, intrusion detection, security patch, zero-day, threat intelligence, network security, access control, incident response, risk assessment, social engineering, security audit

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/erictee-Q.md).
