# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, threat, attack vector, data breach, penetration testing, firewall, intrusion detection, patch management, zero-day, encryption, phishing, ransomware, network security, access control, incident response, security audit, risk assessment

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/glcanvas-Q.md).
