# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, attack vector, data breach, penetration testing, firewall, intrusion detection, encryption, patch management, security audit, risk assessment, zero-day, social engineering, phishing, network security, incident response, authentication

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/dontonka-Q.md).
