# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, ransomware, phishing, firewall, encryption, intrusion detection, penetration testing, data breach, zero-day, patch management, security audit, network security, access control, incident response, risk assessment, cyber hygiene

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/bshramin-Q.md).
