# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, phishing, ransomware, data breach, firewall, encryption, penetration testing, network security, incident response, security patch, authentication, access control, zero-day, social engineering, risk assessment, cyber defense

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/bugradar-Q.md).
