# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, ransomware, phishing, firewall, encryption, penetration testing, data breach, network security, incident response, security patch, zero-day, authentication, access control, security audit, risk assessment, cyber attack

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/0xSmartContract-Q.md).
