# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, threat, attack vector, data breach, penetration testing, firewall, encryption, phishing, ransomware, zero-day, security patch, intrusion detection, network security, authentication, access control, incident response, risk assessment

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/Rolezn-Q.md).
