# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, threat, malware, phishing, ransomware, data breach, penetration testing, firewall, encryption, authentication, access control, network security, incident response, patch management, security audit, vulnerability assessment, zero-day, social engineering

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/0xnev-Q.md).
