# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, phishing, ransomware, firewall, encryption, authentication, intrusion detection, data breach, penetration testing, zero-day, patch management, security audit, threat intelligence, incident response, vulnerability assessment, network security, endpoint protection

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/SunSec-Q.md).
