# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cybersecurity, vulnerability, exploit, malware, phishing, ransomware, firewall, encryption, penetration testing, network security, data breach, threat detection, incident response, security patch, zero-day, authentication, access control, social engineering, cyber threat intelligence, security audit

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/igingu-Q.md).
