# QA Report

**Severity:** low/info
**Auditor:** Code4rena
**Protocol:** Kwenta Staking Contracts
**Keywords:** cyber security, vulnerability, exploit, malware, ransomware, phishing, firewall, encryption, penetration testing, network security, data breach, incident response, threat intelligence, security patch, zero-day, authentication, access control, social engineering, DDoS attack, security audit

---

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/Madalad-Q.md).
